body{
    margin:0px;
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;

}
section h1{
    color:rgb(37, 255, 121);
    text-align:center;  
    font-family:'Piedra',cursive;
    font-size:3em;
    justify-content:center;
    border-bottom:2px solid rgb(20, 104, 20);
    border-right:2px solid   rgb(20, 104, 20);
    width:500px;
    margin-top:10px;
    transition:all 1s;
    -webkit-box-shadow:4px 4px 4px gray;
    -o-box-shadow:4px 4px 4px gray;
    -moz-box-shadow:4px 4px gray;
    box-shadow:4px 4px 4px gray;
    
}
section h1:hover{
    transform:scale(1.2);
}
img{
    width:450px;
    height:300px;
    margin:20px;
    transition:all 0.7s;
    -webkit-box-shadow:4px 4px 4px gray;
    -o-box-shadow:4px 4px 4px gray;
    -moz-box-shadow:4px 4px gray;
   

}
img:hover{
    transform: scale(1.1);
}
footer{
    font-size:0.9em;
    justify-content:center;
    color:gray;
    text-align:center;
}
a {
    text-align:center;
    text-decoration:none;
}
